/*.correspondences__heading {
    border: 5px solid var(--border-color);
    padding: 10px;
    font-size: 47px;
    margin: 10px;
    text-align: center;
    background-color: antiquewhite;
}*/

.correspondences__line {
    background-color: var(--line-background-color);
    height: 3px;
    margin-top: 10px;
    border: 0px;
    margin-bottom: 48px;
}

.correspondences__container {
    display: grid;
    grid-template-rows: 1fr;
}

.correspondences__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.correspondences__card .card__title {
    font-family: var(--additional-font);
    color: var(--additional-text-color);
    font-size: 19px;
    font-weight: 700;
    margin-left: 5px;
    margin-bottom: 20px;
}

.correspondences__card .card__list {
    font-family: var(--additional-font);
    color: var(--additional-text-color);
    font-size: 16px;
    font-weight: 400;
    list-style-type: none;
}

.correspondences__image {
    max-height: 700px;
    width: fit-content;
    padding: 40px;
    justify-self: center;
}

.correspondences__card .card__list li {
    height: 60px;
    margin-bottom: 10px;
}

@media (min-width: 519px) {
    .correspondences__card .card__list li {
        height: 46px;
    }
}

@media (min-width: 646px) {
    .correspondences__card .card__list li {
        height: 36px;
    }
}

@media (min-width: 830px) {
    .correspondences__container {
        grid-template-columns: 1.4fr 1fr;
    }
    .correspondences__cards {
        grid-template-columns: 1fr 1fr 2fr;
    }
    .correspondences__card .card__list li {
        height: 65px;
    }
    .correspondences__image {
        padding: 0px;
        padding-top: 40px;
        padding-right: 10px;
    }
}

@media (min-width: 930px) {
    .correspondences__card .card__list li {
        height: 30px;
    }
}

.correspondences__image {
    max-height: 700px;
    width: fit-content;
    padding-top: 40px;
    
}