@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #5b0f00;
  --additional-color: rgba(225, 223, 219, 1);
  --title-color: white;
  --additional-title-color: #212121;
  --text-color: #444444;
  --border-color: white;
  --button-background-color:#303033;
  --line-background-color: rgba(0, 0, 0, 0.150000006);
  --button-font: 'Open Sans', sans-serif;
  --main-font: Comfortaa, Arial;
  margin: auto;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h4,
p {
  font-family: var(--main-font);
  color: var(--title-color);
}

p {
  color: var(--main-color);
}

li {
  margin-bottom: 10px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

