.header {
  color: #000000; 
  padding: 20px 0; 
}
.logo__text{
  color: #000000;
  text-decoration: none; 
  margin-left: -100px;
  font-size: 25px;
  font-weight: 700;
}
.logo-nav {
  display: flex; 
  align-items: center; 
}

.logo {
  margin-right: auto;
}

.header__nav {
  display: flex; 
}

.nav__link {
  color: #000000;
  text-decoration: none; 
  margin-right: 50px; 
  font-size: 15px;
}
