.mythology__title{
    padding: 60px;
    font-size: 35px;
    text-align: center;
    color: var(--main-color);
    background: linear-gradient(antiquewhite, white);
    max-width: 100%;
}
.mythology__description {
    text-align: center;
    margin-bottom: 15px;
    margin-top: -20px;
}
.mythology__description,
.mythology__paragraph,
.about__paragraph {
    font-size: 20px;
    font-weight: 400;
}
.mythology__paragraph,
.about__paragraph {
    text-align: justify;
    margin-bottom: 55px;
}
.mythology__line{
    background-color: var(--line-background-color);
    height: 3px;
    margin-top: 8px;
    border: 0px;
    margin-bottom: 48px;
}
.mythology__image{
    margin-bottom: 70px; 
}
.mythology__cards {
    background-color: var(--additional-color);
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 20px;
    padding: 24px;
}

.mythology__card {
    max-width: 365px;
    display: flex;
    flex-direction: column;
}

.mythology__card .card__image,
.about__img {
    margin-bottom: 24px;
}

.mythology__card .card__link {
    color: var(--additional-color);
    background-color: var(--button-background-color);
    text-decoration: none;
    text-align: center;
    font-family: var(--button-font);
    font-size: 16px;
    padding: 4px;
    border-radius: 4px;
}

.about__img {
    max-width: 365px;
    background-color: var(--additional-color);
    padding: 10px;
}
.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
}

@media (min-width: 760px) {
    .mythology__card {
        width: calc((100% - 60px) / 3);
    }
    .mythology__title {
        font-size: 47px;
    }
  }